.character-card {
    background-color: black;
    color: cyan;
    margin-bottom: 10px;
    padding: 10px;
}

.character-card__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

h2 {
    text-decoration: underline;
}

.character-card__name{
    color: cyan;
}