.main-container__loading {
    text-align: center;
}

.main-container__buttons{
    display: flex;
    justify-content: center;
}

.main-container__buttons .button{
    width: 120px;
    margin: 10px;
}