.character-details {
    padding: 20px;
}

.character-details__atributes {
    background-color: #EEE;
    color: green;
    font-size: 18px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: left;
}

@media (max-width: 600px) {
    .character-details__atributes {
        flex-direction: column;
    }
  }

.character-details__films {
    padding: 20px;
}

.character-details__loading {
    text-align: center;
}

h2{
    text-decoration: none;
}

h3 {
    color: red;
}

.character-details a:hover,
.character-details a:visited,
.character-details a:focus,
.character-details a:active
{
    font-size: 16px;
    color: black;
}